<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href="{{url_for('static',filename='styles/styles.css')}}"/>
    <link rel='stylesheet' href="{{url_for('static',filename='styles/bootstrap.min.css')}}"/>
    <link rel='icon' href="{{url_for('static',filename='images/intellx/purple.png')}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{var["title"]}} | aaditya rengarajan</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="{{url_for('static',filename='images/aadityarengarajan/black-transparent.png')}}" style="pointer-events: none;width:250px;"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('about')}}">about</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            work
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{url_for('work_programming')}}">programming</a></li>
            <li><a class="dropdown-item" href="{{url_for('work_music')}}">music</a></li>
            <li><a class="dropdown-item" href="{{url_for('work_aviation')}}">aviation</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active">hire me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div class="container">
      <div class="row" style="padding-top: 50px;">
        <div class="col-6">
        </div>
        <div class="col-6">
          <h1>Start A Project</h1>
        </div>
      </div>
      <div class="row" style="padding-top: 85px;">
        <div class="col-6">
        </div>
        <div class="col-6">
          <form method="POST" action="{{url_for('hire')}}">
            <h4>About You</h4>
            <hr/>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="InputName" class="form-label">Name*</label>
                  <input type="text" name="Name" class="form-control" id="InputName" required>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="InputJob" class="form-label">Job/Occupation</label>
                  <input type="text" name="Job/Occupation" class="form-control" id="InputJob">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="InputPhone" class="form-label">Phone</label>
                  <input type="number" name="Phone Number" class="form-control" id="InputPhone">
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="InputEmail" class="form-label">E-mail*</label>
                  <input type="email" name="E-mail" class="form-control" id="InputEmail" required>
                </div>
              </div>
            </div>
            <br/>
            <h4>About The Project</h4>
            <hr/>
            <div class="row">
                <div class="mb-3">
                  <label for="InputDescription" class="form-label">Description*</label>
                  <textarea type="text" name="Project Description" class="form-control" id="InputDescription" required></textarea>
                </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="InputGoal" class="form-label">Project Goal</label>
                  <input type="text" name="Project Goal" class="form-control" id="InputGoal">
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="InputDeadline" class="form-label">Deadline*</label>
                  <input type="text" name="Project Deadline" class="form-control" id="InputDeadline" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="InputBudget" class="form-label">Budget*</label>
                  <select name="Project Budget" class="form-select" aria-label="Budget" id="InputBudget" required>
                    <option value="USD10-25" selected>$10 - $25</option>
                    <option value="USD25-100">$25 - $100</option>
                    <option value="USD200-500">$200 - $500</option>
                    <option value="USD500-1000">$500 - $1k</option>
                    <option value=">USD1000">> $1k</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="InputName" class="form-label">Project Name</label>
                  <input type="text" name="Project Name" class="form-control" id="InputName">
                </div>
              </div>
            </div>
            <h4>How We'll Work</h4>
            <hr/>
            <div class="row">
                <div class="mb-3">
                  <label for="ClientRepresentation" class="form-label">Are you the client or do you represent the client?* (What's your Position?)</label>
                  <input type="text" name="Client Representation" class="form-control" id="ClientRepresentation" required>
                </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="Referral" class="form-label">Referral* (How did you find me?)</label>
                  <input type="text" name="Referral" class="form-control" id="Referral" required>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="Questions" class="form-label">Any Questions for Me?</label>
                  <textarea type="text" name="Questions" class="form-control" id="Questions"></textarea>
                </div>
              </div>
            </div>
            <hr/>
            <button type="submit" class="btn btn-primary">Submit Request</button>
          </form>
        </div>
      </div>
    </div>
    <br/><br/><br/><br/>

    <footer class="footer-area footer--light">
  <div class="footer-big">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="footer-widget">
            <div class="footer-menu">
              <h3 class="footer-widget-title">fonts+attributions</h3>
              <ul style="list-style-type: none; ">
                <li>
                  <a style="font-size:100%!important;font-weight: bold;text-decoration: none;" href="https://getbootstrap.com/" target="_blank">Bootstrap CSS + JS</a>
                </li>
                <li>
                  <a style="font-size:100%!important;font-weight: bold;text-decoration: none;" href="https://commercialtype.com/catalog/canela/canela#:~:text=Canela%20is%20a%20graceful%20display,with%20roots%20in%20the%20classical." target="_blank">Canela Typeface</a>
                </li>
                <li>
                  <a style="font-size:100%!important;font-weight: bold;text-decoration: none;" href="https://fonts.adobe.com/fonts/satisfy">Satisfy Typeface</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget">
            <div class="footer-menu">
              <h3 class="footer-widget-title">links</h3>
              <ul style="list-style-type: none; ">
                <li>
                  <a style="font-size:100%!important;font-weight: bold;text-decoration: none;" href="https://github.com/aadityarengarajan" target="_blank">github</a>
                </li>
                <li>
                  <a style="font-size:100%!important;font-weight: bold;text-decoration: none;" href="https://www.instagram.com/aadityarengarajan/" target="_blank">instagram</a>
                </li>
                <li>
                  <a style="font-size:100%!important;font-weight: bold;text-decoration: none;" href="mailto:aaditya@intellx.co.in">email</a>
                </li>
                <li>
                  <a style="font-size:100%!important;font-weight: bold;text-decoration: none;" href="https://discord.com/users/829140024976867379">discord</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="footer-widget">
            <div class="footer-menu">
              <h3 class="footer-widget-title">&#169; aaditya rengarajan {{ now.year }}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

  <script src="{{url_for('static',filename='scripts/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='scripts/scripts.js')}}"></script>
  <script src="{{url_for('static',filename='scripts/bootstrap.bundle.min.js')}}"></script>
  </body>
</html>